{% extends 'layout.html.twig' %}
{% block container %}
    <!-- LOGIN-SECTION -->
    <div class="login-section">
        <form method="post" class="login-form">
            <h1 id="login-title">Connexion</h1>
            <div class="login-inputs">
                <label for="inputUserName" class="login-infos">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="userName" id="inputUserName" class="form-control" required autofocus>
                <label for="inputPassword" class="login-infos">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            {% if error %}
                <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <button id="login-btn" class="btn btn-primary" type="submit">Se connecter</button>
            <div class="login-links">
                <a href="/inscription/#register-title" class="login-link1">S'enregistrer</a></br>
                <a href="{{ path('forgotten_password') }}" class="login-link2">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
{% endblock %}
