<!-- Menu -->
<header id="secondary-header">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/#content-trick">Figures</a></li>
        <li><a href="/inscription/#register-title">S'enregistrer</a></li>
        {% if not app.user %}
            <li><a href="/connexion/#login-title">Connexion</a></li>
        {% else %}
            <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
        {% endif %}
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>