/* HOMEPAGE MENU */
header {
    background: #292929;
    opacity: 0.9;
}
header ul li a {
    margin: 0 15px;
    color: #fff;
    letter-spacing: 2px;
}
header ul li a:hover {
    color: #18bc9c;
}
/* HOMEPAGE BANNER */
.banner {
    background-image: url("../img/header5.jpg");
    background-size: cover;
}
.logo-site {
    letter-spacing: 4px;
}
.banner-text h1 {
    color: #cfcfcf;
    letter-spacing: 4px;
    font-size: 200px;
    line-height: 160px;
}
.banner-text p {
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 14px;
}
.banner-text .btn {
    color: white;
    letter-spacing: 1px;
}
.banner-text .btn:hover {
    background: #292929;
    border-color: #18bc9c;
    opacity: 0.5;
    color: #18bc9c;
    transition: 0.5s;
}

/* HOMEPAGE TRICK SECTION */
/* Section just before homepage illustration's display */
.content {
    margin: 0px 70px 0px 70px;
}
.content-title {
    margin: 35px 0px 0px 35px;
}
.homepage-content-text {
    margin-top: 25px;
}
p.login-homepage-text {
    margin-left: 35px;
}
a.login-homepage-btn {
    margin-left: 35px;
}
a.login-homepage-text {
    margin-left: 35px;
}
/* Section where illustrations are displayed */
.trick-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 25px;
}
.trick-thumbnail {
    margin: 60px 10px 20px 10px;
    border: 1px solid black;
}
.trick-illustration {
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}
.trick-title {
    float: left;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
}
.trick-options {
    float: right;
    padding: 10px 20px 10px 0px;
}
a.edit-btn {
    margin-right: 20px;
}
.load {
    margin: 20px 0px 50px 800px;
}

/* FOOTER */
footer {
    height: 7vh;
    background-color: #292929;
    font-size: 20px;
}
.footer-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span.copyright {
    font-size: 90%;
    color: #18bc9c;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
}

/* FORM GROUP */
.form-group {
    width: 50%;
}
/* ALL FORMS INPUTS */
input.form-control {
    width: 50%;
}
/* ALL LIST STYLE */
* {
    list-style-type: none;
}

/* TRICK SHOWPAGE */
/* Trick banner */

.trick-banner {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    border: solid 1px black;
}
.trick-banner-img {
    height: 100%;
    position: absolute;
    z-index: 1;
}
.trick-name {
    position: absolute;
    z-index: 2;
    top: 200px;
}
.trick-name-title {
    color: darkblue;
}
.all-sections-trick {
    margin: 0px 70px 0px 70px;
}
/* Illustration section */
.trick-show-illustrations {
    display: flex;
    flex-flow: row wrap;
}
/* Button to go back up the page */
.btn-go-up {
    height: 40px;
    width: 40px;
    background: #292929;
    opacity: 0.9;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 115px;
    cursor: pointer;
}
.icone-arrow {
    width: 20px;
}
.trick-show-illustration {
    margin: 20px 10px 20px 10px;
}
/* Video section */
iframe.trick-video {
    margin: 40px 10px 20px 10px;
}
.trick-description {
    padding-top: 35px;
}
.trick-infos {
    display: flex;
    justify-content: center;
}
.trick-group {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 15px;
    width: 15%;
}
/* Comment section */
.trick-comment {
    padding: 40px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comment-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-title {
    margin-right: 20px;
}
.comment-list {
    width: 25%;
}
.comment-form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 25px 0px 50px 0px;
}
.comment-container {
    margin-top: 15px;
}
.comment-form-start {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
textarea#comment_content.form-control {
    width: 100%;
}
.validate-comment {
    height: 60px;
    width: 20%;
    margin: 5px 0px 10px 15px;
}
.load-comments {
    margin-top: 50px;
}

/* ADDTRICK PAGE */
.add-trick-banner {
    height: 50vh;
    background: url("../img/login-header.jpg");
    background-size: cover;
}
.add-trick-form {
    margin: 0px 70px 0px 70px;
}
.media-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.add-trick-inputs-container {
    display: flex;
    justify-content: center;
}
.add-trick-inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#trick_category.form-control {
    width: 20%;
}
.add-illustrations {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.add-illustration-title {
    font-size: 25px;
}
ul.illustrations {
    padding-top: 20px;
}
.add-videos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
}
.add-video-title {
    font-size: 25px;
}
ul.videos {
    padding-top: 20px;
}
.add-trick-btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/* REGISTER PAGE */
.register-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    height: 88vh;
}
/* Register form */
.register-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.register-title {
    padding-top: 20px;
}
.register-text {
    padding-top: 35px;
}
.register-form-start {
    width: 50%;
    margin: 0px 0px 0px 700px;
}
.register-btn {
    padding: 20px 0px 60px 47px;
}

/* LOGIN PAGE */
.login-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    margin: 0px 50px 0px 50px;
}
#login-title {
    padding-top: 250px;
}
.login-form {
    width: 100%;
    padding: 35px 0px 0px 780px;
}
#login-btn {
    margin-left: 65px;
}
.login-link1 {
    margin-left: 65px;
}
.login-link2 {
    margin-left: 40px;
}
