/* XS SCREEN */
@media (max-width: 950px) {
    /* MENU */
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }
    header {
        background: #292929;
        height: 65px;
    }
    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 65px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 2;
    }
    header ul li {
        display: block;
        margin-top: 100px;
    }
    header ul li a {
        margin: 0 15px;
        color: #fff;
        letter-spacing: 2px;
        font-size: 30px;
    }
    #check:checked ~ ul {
        left: 0;
    }
}
/* SMALL SCREEN */
@media screen and (min-width: 950px) and (max-width: 1220px) {
    /* MENU */
    header {
        background: #292929;
        opacity: 0.9;
        height: 65px;
    }
    header ul {
        float: right;
        margin-right: 20px;
    }
    header ul li {
        display: inline-block;
    }
    header ul li a {
        margin: 0 15px;
        color: #fff;
        letter-spacing: 2px;
        font-size: 20px;
    }
    /* TOOGLE MENU */
    .checkbtn {
        display: none;
    }
    /* BTN Load More on HOMEPAGE */
    .load.btn {
        margin: 20px 0px 50px 130px;
    }
    /* SHOWPAGE*/
    /* categories */
    h2.trick-group {
        width: 100%;
    }
    /* comments */
    div.comment-form {
        width: 100%;
    }
    .comment-form-start {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /* form input */
    .com-text.form-group {
        width: 100%;
    }
    .btn.btn-primary.validate-comment {
        width: 40%;
    }
    /* title */
    .trick-name-title {
        color: white;
        font-size: 4em;
    }
    /* EDIT PAGE */
    /*form inputs*/
    .trick-description-input {
        width: 100%;
    }
    .other-fields {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
    }
}
/* MEDIUM SCREEN */
@media screen and (min-width: 1220px) and (max-width: 1440px) {
    /* MENU */
    header {
        background: #292929;
        opacity: 0.9;
        height: 65px;
    }
    header ul {
        float: right;
        margin-right: 20px;
    }
    header ul li {
        display: inline-block;
    }
    header ul li a {
        margin: 0 15px;
        color: #fff;
        letter-spacing: 2px;
        font-size: 20px;
    }
    /* TOOGLE MENU */
    .checkbtn {
        display: none;
    }
    /* BTN Load More on HOMEPAGE */
    .load.btn {
        margin: 20px 0px 50px 0px;
    }
    /* SHOWPAGE*/
    /* title */
    .trick-name-title {
        color: white;
        font-size: 5em;
    }
    /*comment*/
    .com-text.form-group {
        width: 100%;
    }
    /* EDIT PAGE */
    /*form inputs*/
    .trick-title-input {
        width: 40%;
    }
    .trick-description-input {
        width: 80%;
    }
    .trick-category-input {
        width: 20%;
    }
    .other-fields {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 300px;
    }
}
/* LARGE SCREEN */
@media screen and (min-width: 1440px) {
    /* MENU */
    header {
        background: #292929;
        opacity: 0.9;
        height: 65px;
    }
    header ul {
        float: right;
        margin-right: 20px;
    }
    header ul li {
        display: inline-block;
    }
    header ul li a {
        margin: 0 15px;
        color: #fff;
        letter-spacing: 2px;
        font-size: 20px;
    }
    /* TOOGLE MENU */
    .checkbtn {
        display: none;
    }
    /* BTN Load More on HOMEPAGE */
    .load.btn {
        margin: 20px 0px 50px 800px;
    }
    /* SHOWPAGE*/
    /* title */
    .trick-name-title {
        color: white;
        font-size: 5em;
    }
    /*comment*/
    .com-text.form-group {
        width: 80%;
    }
    /* EDIT PAGE */
    /*form inputs*/
    .trick-title-input {
        width: 40%;
    }
    .trick-description-input {
        width: 80%;
    }
    .other-fields {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 300px;
    }
}
/* HOMEPAGE MENU */
header ul li a:hover {
    color: #18bc9c;
}
.menu-username {
    cursor: pointer;
}
/* HOMEPAGE BANNER */
.banner {
    background-image: url("../img/header5.jpg");
    background-size: cover;
}
.logo-site {
    letter-spacing: 4px;
}
.banner-text h1 {
    color: #cfcfcf;
    letter-spacing: 4px;
    font-size: 200px;
    line-height: 160px;
}
.banner-text p {
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}
#check {
    display: none;
}
.banner-text .btn {
    color: white;
    letter-spacing: 1px;
}
.banner-text .btn:hover {
    background: #292929;
    border-color: #18bc9c;
    opacity: 0.5;
    color: #18bc9c;
    transition: 0.5s;
}

/* HOMEPAGE TRICK SECTION */
/* Section just before homepage illustration's display */
.content {
    margin: 0px 70px 0px 70px;
}
.content-title {
    margin: 35px 0px 0px 35px;
}
.homepage-content-text {
    margin-top: 25px;
}
p.login-homepage-text {
    margin-left: 35px;
    font-size: 20px;
}
a.login-homepage-btn {
    margin-left: 35px;
}
a.login-homepage-text {
    margin-left: 35px;
    font-size: 20px;
}
/* Section where illustrations are displayed */
.trick-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 25px;
}
.trick-thumbnail {
    margin: 60px 10px 20px 10px;
    border: 1px solid black;
    width: 327px;
}
.trick-illustration {
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 201px;
}
.trick-illustration img {
    object-fit: cover;
}
.trick-title {
    float: left;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.trick-options {
    float: right;
    padding: 10px 10px 10px 0px;
}
a.edit-btn {
    margin-right: 10px;
}
/* Button to go back up the page */
.btn-go-up {
    height: 40px;
    width: 40px;
    background: #292929;
    opacity: 0.9;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 115px;
    cursor: pointer;
}

/* FOOTER */
footer {
    height: 7vh;
    background-color: #292929;
    font-size: 20px;
}
.footer-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span.copyright {
    font-size: 90%;
    color: #18bc9c;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
}

/* ALL LIST STYLE */
* {
    list-style-type: none;
}

/* TRICK SHOWPAGE */
/* Trick banner */
.trick-banner {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: solid 3px black;
}
.trick-banner-img {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.trick-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trick-options-banner {
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 40px;
}
.trick-name {
    position: absolute;
    z-index: 2;
    top: 175px;
}
.title-background-color {
    background-color: grey;
    opacity: 70%;
    width: 100%;
    height: 50%;
    z-index: 2;
    position: absolute;
    top: 115px;
}
.all-sections-trick {
    margin: 0px 70px 0px 70px;
}
/* Illustration section */
.icone-arrow {
    width: 20px;
}
.trick-show-illustration {
    margin: 20px 10px 20px 10px;
}
/* Video section */
iframe.trick-video {
    margin: 40px 10px 20px 10px;
}
.trick-description {
    padding-top: 35px;
}
.description-text {
    padding-top: 25px;
    font-size: 20px;
}
.trick-infos {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.trick-group {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 15px;
    width: 13%;
}
textarea.form-control {
    height: 300px;
}
/* Comment section */
.comment-user {
    display: flex;
}
.avatar-comment {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}
.trick-comment {
    padding: 40px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comment-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-title {
    margin-right: 20px;
}
.comment-list {
    width: 25%;
}
.comment-form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 25px 0px 50px 0px;
}
.comment-container {
    margin-top: 15px;
}
.comment-form-start {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
textarea#comment_content.form-control {
    width: 100%;
}
.validate-comment {
    height: 60px;
    width: 20%;
    margin: 5px 0px 10px 15px;
}
.load-comments {
    margin-top: 50px;
}

/* ADDTRICK PAGE */
.add-trick-banner {
    height: 50vh;
    background: url("../img/login-header.jpg");
    background-size: cover;
}
.add-trick {
    margin: 70px;
}
.media {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 325px;
    margin: 40px 0px 40px 30px;
}
.add-video {
    padding-top: 15px;
}
.btn-add {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-edit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-remove {
    margin-top: 20px;
}

/* flash messages when form submit */
#flash-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 45%;
    left: 60%;
}

/* EDITTRICK PAGE */
.edit-trick-banner {
    height: 50vh;
    background: url("../img/login-header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.edit-trick {
    margin: 70px;
}

/* REGISTER PAGE */
.register-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    height: 88vh;
}
/* Register form */
.register-title {
    padding-top: 20px;
}
.register-text {
    padding-top: 35px;
}
.register-container {
    width: 100%;
}
.register-form-start {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register-btn {
    padding: 20px 0px 60px 0px;
}

/* LOGIN PAGE */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input#inputUserName {
    width: 100%;
}
input#inputPassword {
    width: 100%;
}
.login-infos {
    padding-top: 30px;
}
#login-btn {
    margin-top: 30px;
}
.login-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.login-error {
    font-size: 17px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 15px;
    border: 1px solid crimson;
    border-radius: 30px;
    color: crimson;
}

/* USER ACCOUNT PAGE */
.user-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 88vh;
}
.avatar-container {
    padding-top: 40px;
}
.avatar-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar-input {
    padding-top: 30px;
}
.dot {
    height: 250px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#avatar-btn {
    margin-top: 15px;
}

/* FORGOTTEN PASSWORD ACCOUNT PAGE */
.fp-section {
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forgot-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fp-text {
    margin-top: 40px;
}
.fp-container {
    margin-top: 15px;
}
