/* HOMEPAGE MENU */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky {
    padding: 15px 100px;
    padding-bottom: 0px;
    background: #292929;
    border-color: #292929;
    opacity: 0.9;
}
header.sticky ul li a {
    color: #fff;
}
header.sticky ul li a:hover {
    color: #18bc9c;
}

/* HOMEPAGE BANNER */
.banner {
    width: 100%;
    height: 100vh;
    background: url("../img/header5.jpg");
    background-size: cover;
}
.banner-text {
    width: 88%;
    margin: auto;
}
.logo-site {
    font-size: 20px;
    color: #cfcfcf;
    letter-spacing: 4px;
}
.banner-text h1 {
    font-size: 200px;
    font-weight: 100;
    color: #cfcfcf;
    padding-top: 200px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    line-height: 160px;
}
.banner-text p {
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 14px;
}
.banner-text .btn {
    float: right;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 70px;
    display: inline-block;
    margin-top: 150px;
}
.banner-text .btn:hover {
    background: #292929;
    border-color: #18bc9c;
    opacity: 0.5;
    color: #18bc9c;
    transition: 0.5s;
}

/* HOMEPAGE TRICK SECTION */
/* Section just before homepage illustration's display */
.content {
    margin: 0px 70px 0px 70px;
}
.content-title {
    margin: 35px 0px 0px 35px;
}
.homepage-content-text {
    margin-top: 25px;
}
p.login-homepage-text {
    margin-left: 35px;
}
a.login-homepage-btn {
    margin-left: 35px;
}
a.login-homepage-text {
    margin-left: 35px;
}
/* Section where illustrations are displayed */
.trick-list {
    margin-left: 25px;
    display: flex;
    flex-flow: row wrap;
}
/* trait beaucoup plus fin */
.trick-thumbnail {
    margin: 60px 10px 20px 10px;
    border: 1px solid black;
}
/*que le côté bas*/
.trick-illustration {
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}
.trick-title {
    float: left;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.trick-options {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
a.edit-btn {
    margin-right: 20px;
}
.load {
    margin-bottom: 50px;
    margin-left: 800px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    padding: 25px 0;
    text-align: center;
    background-color: #292929;
    font-size: 20px;
}
footer span.copyright {
    font-size: 90%;
    color: #18bc9c;
    line-height: 40px;
    text-transform: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ALL FORMS INPUTS */
input.form-control {
    width: 100%;
}

/* TRICK SHOWPAGE */
/* Trick banner */
.trick-banner {
    height: 50vh;
    background: url("../img/login-header.jpg");
    background-size: cover;
}
.trick-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.all-sections-trick {
    margin-left: 70px;
    margin-right: 70px;
}
/* Illustration section */
.trick-show-illustrations {
    display: flex;
    flex-flow: row wrap;
}
.trick-show-illustration {
    margin: 20px 10px 20px 10px;
}
/* Video section */
iframe.trick-video {
    margin: 40px 10px 20px 10px;
}
.trick-description {
    padding-top: 35px;
}
.trick-group {
    display: flex;
    justify-content: center;
}
/* Comment section */
.trick-comment {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comment-form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;
}
.comment-form-start {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.form-group {
    width: 50%;
}
textarea#comment_content.form-control {
    width: 100%;
}
.validate-comment {
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-left: 15px;
}
/* button when you're not login */
#show-trick-login-btn {
    margin-top: 35px;
    margin-bottom: 50px;
}

/* ADDTRICK PAGE */
.add-trick-banner {
    height: 25vh;
    background: url("../img/login-header.jpg");
    background-size: cover;
}
.add-trick-section {
    margin-left: 50px;
    margin-right: 50px;
}
.add-trick-title {
    padding-top: 35px;
}
.register-form {
    padding-top: 20px;
}
#trick_category.form-control {
    width: 20%;
}
.add-illustrations {
    padding-top: 20px;
}
.add-videos {
    padding-top: 20px;
}
.add-trick-btn {
    padding-top: 20px;
}

/* REGISTER & LOGIN MENU */
header#secondary-header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header#secondary-header ul li a:hover {
    color: #18bc9c;
}
header#secondary-header.sticky ul li a {
    color: #fff;
}
header#secondary-header.sticky ul li a:hover {
    color: #18bc9c;
}

/* REGISTER PAGE */
.register-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    height: 90vh;
}
/* Register form */
.register-form {
    width: 100%;
}
.register-form-start {
    width: 100%;
    padding-left: 820px;
}
.register-title {
    padding-top: 20px;
}
.register-text {
    padding-top: 35px;
}
.register-btn {
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 60px;
}

/* LOGIN PAGE */
.login-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    margin-left: 50px;
    margin-right: 50px;
}
#login-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}
.login-form {
    width: 100%;
    padding-top: 35px;
    padding-left: 780px;
}
#login-btn {
    margin-left: 65px;
}
.login-link1 {
    margin-left: 65px;
}
.login-link2 {
    margin-left: 40px;
}
