{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Venez faire le plein de tricks</h1>
        <section class="trickList">
            <div>
                <div class="content">
                    <img =src"https://placehold.co/350x300" alt="">
                </div>
                <div class="">
                    <a href="" class="">Nom de la figure</a>
                    <a href="" class="btn btn-primary">Icone Modifier</a>
                    <a href="" class="btn btn-primary">Icone Supprimer</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
