{% extends 'layout.html.twig' %}

{% block container %}
    <!-- Trick Section-->
    <div class="content" id="content-trick">
        <h1>Liste des figures de snowboard</h1>
        <section id="trick-list" class="trick-list">
            {{ include("homepage/trick.html.twig") }}
        </section>
        <div>
            <button class="load btn btn-primary" href="#">Afficher Plus</button>
        </div>
    </div>
{% endblock %}
