<h1>Bonjour !</h1>
<p>
    Vous avez demander une réinitialisation de votre mot de passe, 
    veuillez cliquer sur ce lien :
</p>
<p>
    <a href="{{ url('reset_password', {"resetToken": resetToken}) }}">Réinitialiser le mot de passe</a>
</p>
