
<h1>Bonjour !</h1>

<p>
Merci de vous intéresser à Snowtrick, pour finalliser votre inscription et valider votre compte
veuillez cliquer sur ce lien :
</p>
<p>
<a href="{{ url('confirm_account', {"token": token}) }}">Cliquer ici pour activer votre compte</a>
</p>
