<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Snowtricks{% endblock %}</title>
        <link rel="stylesheet" href="../bootstrap/css/flatly/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/0709ae03e6.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
                <!-- Custom styles for this template -->
                <link href="/css/snowtricks.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
