{{ form_row(form.file) }}
<img src="{{ asset('uploads/trick_images/'~form.vars.data.path) }}" width="325" height="200">
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Supprimer</button>
</div>