{% if form.file.vars.data is null %}
    {{ form_row(form.file) }}
    <img src="../img/cross.png" width="325" height="200">
{% endif %}
<div class="form-group">
    <button type="button" class="btn btn-danger btn-remove">Supprimer</button>
</div>