{% extends 'layout.html.twig' %}

{% block container %}
    <!-- BANNER SECTION -->
    <section class="add-trick-banner"></section>
    <!-- ADD TRICK SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(trickForm) }}
                    {{ include("trick/_form.html.twig", {form: trickForm}) }}
                    <button class="btn btn-primary">Ajouter la figure</button>
                {{ form_end(trickForm, {render_rest: false}) }}
            </div>
        </div>
    </div>
{% endblock %}