{% extends 'layout.html.twig' %}

{% block container %}
    <!-- BANNER SECTION -->
    <section class="edit-trick-banner">
        <div class="trick-name">
            <h1 class="trick-name-title">{{ trick.name }}</h1>
        </div>
    </section>
    <!-- EDIT TRICK SECTION -->
    <div class="edit-trick">
        {{ form_start(trickForm) }}
            {{ include("trick/_form.html.twig", {form: trickForm}) }}
            <button class="btn btn-primary btn-trick">Modifier</button>
        {{ form_end(trickForm, {render_rest: false}) }}
    </div>
{% endblock %}