{% extends 'layout.html.twig' %}

{% block container %}
    <!-- Trick Section-->
    <div class="trick-thumbnail">
        <div class="trick-title">
            <a href="" class="trick-number">{{ trick.name }}</a>
        </div>
        <div class="trick-description">
            <a href="">{{ trick.description | raw }}</a>
        </div>
        {% for illustration in trick.illustrations %}
            <div class="trick-illustration">
                <img src="{{ asset(illustration.path) }}" alt="">
            </div>
        {% endfor %}
    </div>

    <!-- Comment Section-->
    <div class="trick-comment">
        <h1>Commentaire</h1>
    </div>
{% endblock %}